/* 
    Created on : 13.02.2015, 14:03:41
    Author     : Turbo-X
*/
*{
    margin:0 auto;
    padding:0;
}
body{
    background-color: gainsboro;
}
header{
    background-color: #ff9c00;
    height: 95px; 
    -webkit-border-bottom-left-radius: 15px 15px;
    -webkit-border-bottom-right-radius: 15px 15px;
}
.softuni_icon{
    background-image: url("Softuni.png");
    width: 100px;
    height: 95px;
    float: left;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 100px;
}
.softuni_text{
    width: 270px;
    height: 85px;
    float: left;
    margin-left: 80px;
    margin-top: 9px;
}
.softuni_text p{
    color: white;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
}
.softuni_text a{
    text-decoration: none;
    color: white;
    font-family: 'Permanent Marker', cursive; 
}
.softuni_text a:hover{
    text-decoration: none;
    color: #234465;
    font-family: 'Permanent Marker', cursive;  
}
.softuni_text a:nth-child(2):hover{
    text-decoration: none;
    color: green;
}
.softuni_menu{
    margin-left: 100px;
    height: 90px;
    width: 680px;
    float: left;
}
.softuni_menu li{
    list-style: none;
    float: left;
    margin-top: 35px;
    margin-left: 60px;
}
.softuni_menu a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Permanent Marker', cursive;
}
.softuni_menu a:hover{
    text-decoration: none;
    color: #234465;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Permanent Marker', cursive; 
}
main{
    height: 830px; 
}
.left_container{
    border: 2px solid gray;
    width: 500px;
    height: 800px;
    float: left;
    margin-left: 30px;
    margin-top: 20px;
}
.right_container{
    border: 2px solid gray;
    width: 750px;
    height: 800px;
    float: right;
    margin-right: 30px;  margin-top: 20px;
}
/*1px solid #343434 */
footer{
    background-color: #343434;
    height: 235px; 
    -webkit-border-top-left-radius: 15px 15px;
    -webkit-border-top-right-radius: 15px 15px;
    -webkit-border-bottom-left-radius: 15px 15px;
    -webkit-border-bottom-right-radius: 15px 15px;
    margin-top: 30px;
}
.our_team{
    width: 205px;
    height: 205px;
    float: left;
    color: #ff9c00;
    font-size: 24px;
    font-weight: 600;
    font-family: cursive;
    margin-top: 30px;
    margin-left: 110px;
}
.our_team span{
    font-size: 17px;
}
.our_team p{
    margin-top: 10px;
}
.our_team a{
    text-decoration: none;
    font-size: 18px;
    color: #ff9c00;
}
.our_team a:hover{
    text-decoration: underline;
}
.partners{
    width: 200px;
    height: 150px;
    float: left;
    color: #ff9c00;
    font-size: 24px;
    font-weight: 600;
    font-family: cursive;
    margin-top: 30px;
    margin-left: 45px;
}
.partners a{
    text-decoration: none;
    font-size: 18px;
    color: #ff9c00;
}
.partners a:hover{
    text-decoration: underline;
}
.sponsors{
    width: 185px;
    height: 150px;
    float: left;
    color: #ff9c00;
    font-size: 24px;
    font-weight: 600;
    font-family: cursive;
    margin-top: 30px;
    margin-left: 45px;
}
.sponsors a{
    text-decoration: none;
    font-size: 18px;
    color: #ff9c00;
}
.sponsors a:hover{
    text-decoration: underline;
}
.friends{
    width: 220px;
    height: 150px;
    float: left;
    color: #ff9c00;
    font-size: 24px;
    font-weight: 600;
    font-family: cursive;
    margin-top: 30px;
    margin-left: 45px;
}
.friends a{
    text-decoration: none;
    font-size: 18px;
    color: #ff9c00;
}
.friends a:hover{
    text-decoration: underline;
}
.like{
    width: 228px;
    height: 150px;
    float: left;
    color: #ff9c00;
    font-size: 24px;
    font-weight: 600;
    font-family: cursive;
    margin-top: 30px;
    margin-left: 70px;
}
.fakebook{
    background-image: url("facebook.png");
    width: 35px;
    height: 35px;
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
}
.like_href{
    width: 130px;
    height: 30px;
    float: left;
    margin-top: 10px;
}
.like a{
    text-decoration: none;
    font-size: 19px;
    color: #ff9c00;
    float: left;
    margin-top: 3px;
}
.like a:hover{
    text-decoration: underline;
    font-size: 19px;
    color: #ff9c00;
    float: left;
    margin-top: 3px;
}
.quicker{
    background-image: url("twitter.png");
    width: 35px;
    height: 35px;
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
}